@charset "utf-8";
/* CSS Document */

#nav {background: #d10074;
	text-align : center;
	position:fixed;
	width:100%;
	bottom:0px;}
	
#nav ul {list-style : none;
	padding : 0px;
	margin : 0}
	
#nav ul li {display : inline;}
	
#nav ul li a {}

#footer{
	text-align : center;
	position:fixed;
	width:100%;
	bottom:30px;}
